<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="BDLas_DeliciasEntities" connectionString="metadata=res://*/Las_DeliciasMODEL.csdl|res://*/Las_DeliciasMODEL.ssdl|res://*/Las_DeliciasMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LUIS-PC;initial catalog=BDLas_Delicias;user id=sa;password=sql2008;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>